
$primario-accesos:rgb(78, 161, 110);

.accesos{
border-color:black;
font-family: 'Franklin Gothic Medium';
    font-size: 25px;
    border: 10px;
    border: rgb(3, 3, 5);
    range:append($list1: 5px, $val: 5px, $separator: 5px);
    position: relative;
   

}
.portada{
        background-color: $primario-accesos;
        border: black solid 1px;
        padding: 20px;
}    
            .portada__titulo{
                font-family: 'Franklin Gothic Medium';
                font-size: 1000px larger;
                text-align: center;
                color: blanchedalmond;
        

}
 .portada__imagen{
        padding:$primario-accesos
         

        
}   




